<div class="tab-pane fade active show">
    <blockquote class="blockquote mt-4">
        <h3 class="aeps-title">Mini Statement</h3>
        <form [formGroup]="miniStatement">
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Mobile Number : <span class="alert-error">*</span></label>
                    <input type="text" maxlength="10" autocomplete="off" OnlyNumber formControlName="mobileNumber" [ngClass]="{ 'is-invalid': (f.mobileNumber.touched || f.mobileNumber.dirty) && f.mobileNumber.invalid }" name="mobileno" class="form-control" placeholder="Enter Mobile Number">
                    <div *ngIf="(f.mobileNumber.touched || f.mobileNumber.dirty)&& f.mobileNumber.invalid" class="alert-error">
                        <div *ngIf="f.mobileNumber.errors.required"><small><b>Mobile no is required.</b></small></div>
                        <div *ngIf="f.mobileNumber.errors.pattern"><small><b>Please enter a valid mobile no.</b></small></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAddress">Aadhar Number : <span class="alert-error">*</span></label>
                    <input type="text" OnlyNumber autocomplete="off" (change)="validateAadhar()" maxlength="12" formControlName="aadharNumber" [ngClass]="{ 'is-invalid': (f.aadharNumber.touched || f.aadharNumber.dirty) && f.aadharNumber.invalid }" name="aadharno" class="form-control"
                        placeholder="Enter Aadhar Number">
                    <div *ngIf="(f.aadharNumber.touched || f.aadharNumber.dirty) && f.aadharNumber.invalid" class="alert-error">
                        <div *ngIf="f.aadharNumber.errors.required"><small><b>Aadhar number is required.</b></small></div>
                        <div *ngIf="f.aadharNumber.errors.pattern"><small><b>Please enter a valid Aadhar number</b></small></div>
                    </div>
                    <div *ngIf="!aadharError" class="alert-error">
                        <small><b>Please enter a valid Aadhar number!</b></small>
                    </div>
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Bank Name : <span class="alert-error">*</span></label>
                    <ng-select2 [ngClass]="{ 'is-invalid': f.bankName.touched && f.bankName.invalid }" autocomplete="off" formControlName="bankName" [data]="bankLisitng" [placeholder]="'Please select a bank...'">
                    </ng-select2>
                    <div *ngIf="f.bankName.touched && f.bankName.invalid" class="alert-error">
                        <div *ngIf="f.bankName.errors.required"><small><b>Bank Name is required.</b></small></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Select Device : <span class="alert-error">*</span></label>
                    <select class="form-control basic" [ngClass]="{ 'is-invalid': f.deviceid.touched && f.deviceid.invalid }" (change)="getDevice($event)" #deviceName formControlName="deviceid" name="device">
                        <option value="">Please select a device...</option>
                        <option *ngFor="let item of device_name_list" [value]="item.name">{{ item.name }}</option>
                    </select>
                    <div *ngIf="f.deviceid.touched && f.deviceid.invalid" class="alert-error">
                        <div *ngIf="f.deviceid.errors.required"><small><b>device is required.</b></small></div>
                    </div>
                </div>
            </div>

            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Remark : <span class="alert-error">*</span></label>
                    <textarea class="form-control" formControlName="requestremarks" autocomplete="off" [ngClass]="{ 'is-invalid': (f.requestremarks.touched || f.requestremarks.dirty) && f.requestremarks.invalid }" name="remarks" placeholder="Enter remarks"></textarea>
                    <div *ngIf="f.requestremarks.touched && f.requestremarks.invalid" class="alert-error">
                        <div *ngIf="f.requestremarks.errors.required"><small><b>Remarks is required.</b></small></div>
                    </div>
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="form-group col-md-12">
                    <label class="new-control new-checkbox">
                        <input type="checkbox" class="new-control-input" formControlName="checkbox" checked>
                        <span class="new-control-indicator"></span> I, the undersigned, the holder of the AADHAAR Number hereby give my consent to UNMIXT INDUSTRIES PVT.LTD to obtain my Aaadhaar Number and biometrics for authentication with Unique Identification Authority of India (UIDAI). UNMIXT INDUSTRIES PVT.LTD has informed me that my identity information will be used only for AEPS (Aadhaar Enabled Payment System) Mini Statement purpose and that my biometrics will not be stored/shared by UNMIXT INDUSTRIES PVT.LTD and will be submitted to Central Identity Data Repository (CIDR) only for purpose of authenticating my identity.
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3" [disabled]="!miniStatement.valid" #modal data-toggle='modal' data-target='#transactionStatus'>Scan</button>

            <!-- <button type="submit" class="btn btn-primary mt-3" [disabled]="!miniStatement.valid" (click)="getDevice()">Check Device</button>&nbsp;&nbsp; -->
            <!-- <button type="submit" class="btn btn-primary mt-3" [disabled]="!miniStatement.valid" (click)="getScannerData()">Scan</button> -->
        </form>
    </blockquote>
</div>



<div class="modal fade" id="transactionStatus" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content text-center">
            <!-- <div class="modal-header">
                <h4>Transaction Details</h4><span class="close" (click)="closeModal()" data-dismiss="modal">&times;</span>
            </div> -->
            <div class="modal-body">
                <img src="assets/Capture.JPG" class="imgfinger" alt="">

                <form>
                    <div class="row">
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="mt-4 btn btn-primary center-block  mr-2" (click)="getScannerData()" style="text-align: center;">Proceed To Verify</button>
                        <button type="submit" class="mt-4 btn btn-primary center-block" (click)="closeModal()" data-dismiss="modal" style="text-align: center;">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>