<section>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form [formGroup]="changePass" (submit)="changePassword()">
                    <div class="forgot-img"><img src="../../../assets/login/images/change-password.png"></div>
                <h2 class="title">Change Password</h2>
                
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                  <input type="password" class="form-control" placeholder="Enter New Password"
                                [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid}" formControlName="password"
                                (focus)="showErrorBox = true;" (focusout)="showErrorBox=false" placeholder="New Password"/> 
                                <span class="input-group-append">
                                    <i class="far fa-eye"></i>
                                  </span>
                </div>
                <div *ngIf="showErrorBox || (f.password.touched && f.password.invalid)"
                class="showValBoxList alert-error mt-3">
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('minlength') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('minlength') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must be at least 8 characters!
                </label>
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasNumber') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('hasNumber') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must contain at least 1 number!
                </label>
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasCapitalCase') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('hasCapitalCase') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must contain at least 1 in Capital Case!
                </label>
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasSmallCase') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('hasSmallCase') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must contain at least 1 Letter in Small Case!
                </label>
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('hasSpecialCharacters') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must contain at least 1 Special Character!
                </label>
            </div>


                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" class="form-control"
                    [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.invalid }"
                    name="confirmPassword" formControlName="confirmPassword" placeholder="Enter Confirm Password">
                    <span class="input-group-append">
                        <i class="far fa-eye"></i>
                      </span>
            
                  </div>
                                   
                  <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert-error">
                    <div *ngIf="changePass.controls['confirmPassword'].hasError('required')">
                        <small><b> Confirm Password is
                                required.</b></small>
                    </div>
                    <div *ngIf="changePass.controls['confirmPassword'].hasError('NoPassswordMatch')">
                        <small><b>Password do not match</b></small>
                    </div>
                </div>
                  <button type="submit" class="btn solid" [disabled]="!changePass.valid">Submit </button>
 
      
      
              </form>
            </div>
          </div>
  
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <div><img src="../../../assets/login/images/logo.png"></div>
            <h3>Want to change your password?</h3>
            <p>
                Enter your current password, type a new password, and then type it again to confirm it.
            </p>
            <button class="btn transparent" routerLink="/login">
               Back to Login?
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>
<!-- 
<div class="form-container outer">
    <div class="form-form">
        <div class="form-form-wrap"> 
            <div class="form-container">
                <div class="form-content text-left">
      
                  <h1>Change Password</h1>
                    <form [formGroup]="changePass" (submit)="changePassword()">
                        <div class="form">
                            <div id="password-field" class="field-wrapper input mb-2">
                                <div class="d-flex justify-content-between">
                                    <label for="password">NEW PASSWORD</label>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
                                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                </svg>

                                <input type="password" class="form-control" placeholder="Enter New Password"
                                [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid}" formControlName="password"
                                (focus)="showErrorBox = true;" (focusout)="showErrorBox=false" /> 
                            </div>
                            <div *ngIf="showErrorBox || (f.password.touched && f.password.invalid)"
                            class="showValBoxList alert-error mt-3">
                            <label class="col"
                                [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('minlength') ? 'text-danger' : 'text-success'">
                                <i [ngClass]="changePass.controls['password'].hasError('required') ||
                changePass.controls['password'].hasError('minlength') ? 'far fa-times-circle' :
                'far fa-check-circle'"></i>
                                Must be at least 8 characters!
                            </label>
                            <label class="col"
                                [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasNumber') ? 'text-danger' : 'text-success'">
                                <i [ngClass]="changePass.controls['password'].hasError('required') ||
                changePass.controls['password'].hasError('hasNumber') ? 'far fa-times-circle' :
                'far fa-check-circle'"></i>
                                Must contain at least 1 number!
                            </label>
                            <label class="col"
                                [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasCapitalCase') ? 'text-danger' : 'text-success'">
                                <i [ngClass]="changePass.controls['password'].hasError('required') ||
                changePass.controls['password'].hasError('hasCapitalCase') ? 'far fa-times-circle' :
                'far fa-check-circle'"></i>
                                Must contain at least 1 in Capital Case!
                            </label>
                            <label class="col"
                                [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasSmallCase') ? 'text-danger' : 'text-success'">
                                <i [ngClass]="changePass.controls['password'].hasError('required') ||
                changePass.controls['password'].hasError('hasSmallCase') ? 'far fa-times-circle' :
                'far fa-check-circle'"></i>
                                Must contain at least 1 Letter in Small Case!
                            </label>
                            <label class="col"
                                [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                                <i [ngClass]="changePass.controls['password'].hasError('required') ||
                changePass.controls['password'].hasError('hasSpecialCharacters') ? 'far fa-times-circle' :
                'far fa-check-circle'"></i>
                                Must contain at least 1 Special Character!
                            </label>
                        </div>
                            <div id="password-field" class="field-wrapper input mb-2">
                                <div class="d-flex justify-content-between">
                                    <label for="password"> CONFIRM PASSWORD</label>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
                                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                </svg>
                                <input type="password" class="form-control"
                                [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.invalid }"
                                name="confirmPassword" formControlName="confirmPassword" placeholder="Enter Confirm Password">
                        </div>
                        <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert-error">
                            <div *ngIf="changePass.controls['confirmPassword'].hasError('required')">
                                <small><b> Confirm Password is
                                        required.</b></small>
                            </div>
                            <div *ngIf="changePass.controls['confirmPassword'].hasError('NoPassswordMatch')">
                                <small><b>Password do not match</b></small>
                            </div>
                        </div>
                            <div class="d-sm-flex justify-content-between">
                                <div class="field-wrapper">
                                    <button type="submit" class="btn btn-primary initCustom" [disabled]="!changePass.valid">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/login-bg.jpg" class="fixed-bg" />
</div>   -->