<ul class="list-unstyled menu-categories" id="accordionExample">
    <li class="menu">
        <a routerLink="dashboard" aria-expanded="true" class="dropdown-toggle">
            <div class="">
                <span>Dashbaord</span>
            </div>
        </a>
    </li>
    <li class="menu">
        <a href="#account" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <span>Account</span>
            </div>
            <div>
            </div>
        </a>
        <ul class="collapse submenu list-unstyled" id="account" data-parent="#accordionExample">
            
            <li>
                <a href="#"> User</a>
            </li>
        </ul>
    </li>
     
     

   
    <li class="menu">
        <a href="#fund" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <span>Fund</span>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </div>
        </a>
        <ul class="collapse submenu list-unstyled" id="fund" data-parent="#accordionExample">
             
        </ul>
    </li>
    <li class="menu">
        <a  href="#" class="dropdown-toggle">
            <div class="">
                <span>Permission</span>
            </div>
        </a>
    </li> 

</ul>