<!-- 

<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pr-0">
                <div class="inner-box">
                    <div class="card"> 
                        <div class="logo"><img src=""></div>
                        <form class="custom-form" [formGroup]="forgotPass" (submit)="forgotPasswordSentOtp()">
                            
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="iconn"> <img src=""></span>
                                    <input type="text"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" id="text1" formControlName="username" placeholder="UserName/Mobile" autocomplete="off">
                                </div>
                                <div *ngIf="submitted && f.username.errors" class="alert-error">
                                    <div *ngIf="submitted && f.username.errors"><small><b>Username is required</b></small></div> 
                                </div>
                            </div> 
                            <div class="row">
                        <div class="col-sm-12"><div class="forgot">
                            <a href="#"  routerLink="/login"> Back to Login?</a></div></div></div>
                            <div class="form-group text-center"> 
                                <button type="submit"   [disabled]="!forgotPass.valid"  name="submit"   class="btn btn-yellow">Send Otp <img src="assets/login/images/arrow.svg"></button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </section> -->


  <section>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form class="custom-form" [formGroup]="forgotPass" (submit)="forgotPasswordSentOtp()">
                    <div class="forgot-img"><img src="../../../assets/login/images/forgot-password.png"></div>
                <h2 class="title">Forgot Password</h2>
                
                <div class="input-field">
                  <i class="fas fa-lock"></i>
                  <input type="text"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" id="text1" formControlName="username" placeholder="UserName/Mobile" autocomplete="off">
                  <div *ngIf="submitted && f.username.errors" class="alert-error">
                    <div *ngIf="submitted && f.username.errors"><small><b>Username is required</b></small></div> 
                </div>
                </div>
                    <button type="submit"   [disabled]="!forgotPass.valid"  name="submit"   class="btn solid">Send Otp <img src="assets/login/images/arrow.svg"></button>
              </form>
            </div>
          </div>
  
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <div><img src="../../../assets/login/images/logo.png"></div>
            <h3>Forgot Your Password?</h3>
            <p>
                To reset your password, enter the registered e-mail adddress and we will send you password reset instructions on your e-mail !
            </p>
            <button class="btn transparent" routerLink="/login">
               Back to Login?
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>
  <app-custom-model [length]="6" (onClickResendOtp)="resend_otp()" (onFocusNext)="moveFocus()"></app-custom-model>
  