/* Made with love by Mutiullah Samim*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/* @import url('http://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880'); */

section {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 45%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 31px;
  color: #e36c0f;
  margin-bottom: 10px;
  font-weight: 600;
}

.input-field {
  width: 70%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 59px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.3rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.g-sign-in-button {
  margin: 2rem 0;
  display:flex;
  width: 70%;
  height: 50px;
  background-color: #4285f4;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
}

.g-sign-in-button:active {
  background-color: #3367D6;
  transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  display: flex;
}

.g-sign-in-button img {
  width: 18px;
  height: 18px;
}

.g-sign-in-button .logo-wrapper {
  padding: 15px;
  background: #fff;
  height: 100%;
  border-radius: 1px;
  display: flex;
  justify-content: center;
}

.g-sign-in-button .text-container {
  font-weight: 500;
  letter-spacing: .21px;
  font-size: 16px;
  line-height: 48px;
  vertical-align: top;
  border: none;
  display: inline-block;
  text-align: center;
  width: 100%;
}


.btn {
  width: 70%;
  background-color: #2c3a95;
  border: none;
  outline: none;
  height: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  font-size: 19px;
}

.btn:hover {
  background-color: #4d84e2;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section:before {
  content: "";
  background-image: url(../../assets/login/images/login-bg.jpg);
  height: 100%;
  position: absolute;
  width: 55%;
  left:-60px;
  top: 0;
  background-size: cover;
  z-index: 1;
  -webkit-transform: skew(-5deg);
  transform: skew(-5deg);
}

.image {
  width: 70%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size:38px;
  color: #fff;
  margin-top: 3rem;
}

.panel p {
  font-size: 25px;
  padding: 0.7rem 30px;
  color: #fff;
}

.btn.transparent {
  margin: 0;
  background: #2563ae;
  border: 2px solid #fff;
  width: 220px;
  font-weight: 600;
  font-size: 18px;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

.form-group label,
label {
  font-size: 19px;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 500;
}

/* ANIMATION */

section.sign-up-mode:before {
  left: 52%;
  -webkit-transform: skew(-5deg);
  transform: skew(-5deg);
}

section.sign-up-mode .left-panel .image,
section.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

section.sign-up-mode .signin-signup {
  left: 25%;
}

section.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

section.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

section.sign-up-mode .right-panel .image,
section.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

section.sign-up-mode .left-panel {
  pointer-events: none;
}

section.sign-up-mode .right-panel {
  pointer-events: all;
}
.input-group-append{position:absolute;right:10px;}
.check{    width: 100%;}
  .checkbox{display:flex;justify-content:space-evenly;}
  .register{font-size:20px;}
  .register a{color:#2c3a95;}
  .showValBoxList {width:75%}
@media (max-width: 1900px) {
  .panel{font-size:27px;}
  .panel p {
    font-size: 17px;}
    .check {
      padding:0;
  }
  .form-group label, label ,.register{
    font-size: 15px;
}
.panel h3{font-size:29px;}
}
@media only screen and (max-width: 1400px) {

.panel h3{font-size:23px;}
.input-field{width:70%;}
.panel p {
  font-size: 13px;}
}
/* --forgot password- */
.forgot-img{display:flex;justify-content:center;}
.forgot-img img{width:60%}